/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
	--background-image: url("../images/cover-image-light.png");
	--background-color: #FFF1F7;
	--title-color: #FFC2E6;
	--accent-color: #FF8DCB;
	--accent-color-button: #353430;
	--accent-color-hover: #32312D66;
	--accent-color-focus: #353430;
	--subtitle-color: #353430;
	--page-title-color: #353430;
	--decorated-zone-color: #353430;
	--text-color: #353430;
	--rec-visibility: hidden;
	
	@media (prefers-color-scheme: light) {
		:root {
			--background-image: url("../images/cover-image-light.png");
			--background-color: #FFF1F7;
			--title-color: #FFC2E6;
			--accent-color: #FF8DCB;
			--accent-color-button: #353430;
			--accent-color-hover: #32312D66;
			--accent-color-focus: #353430;
			--subtitle-color: #353430;
			--page-title-color: #353430;
			--decorated-zone-color: #353430;
			--text-color: #353430;
			--rec-visibility: hidden;
		}
	}
}

/* сохраните этот селектор в приведённом виде.
  Так стили написанные ниже будут иметь больший вес,
  чем стили в медиазапросе предпочтений пользователя
*/


